<li class="sub-catalog__item">
    <a href="{{ link }}" class="sub-catalog__link">
        <div class="sub-catalog__media">
            <img class="lazy" data-src="{{ image }}" alt="{{ alt }}">
        </div>
        <div class="sub-catalog__text">
            <p class="sub-catalog__title">
                {{ title }}
            </p>
            <span class="article-number">{{ article }}</span>
            <span class="size">{{ size }}</span>
        </div>
        <div class="comparison-icon">
            <include src="assets/svg/comparison.html"></include>
        </div>
    </a>
</li>