@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;


.catalog-section {
  &__block {
    display: grid;
    grid-template-columns: 283px 1fr;
    gap: 40px;

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);

    .catalog-card__media {
      max-height: 315px;
    }

    @media(max-width: 1299px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);

      .catalog-card__media {
        max-height: 357px;
      }
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__text {
    margin-top: 40px;

    @media (max-width: 1299px) {
      margin-top: 20px;
    }

    p {
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
      color: #586c5c;
      text-align: center;
      max-width: 900px;
      margin: 0 auto;

      @media (max-width: 1299px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.side-menu {

  &__item {
    &:not(:last-child) {
     > a {
        margin-bottom: 2px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 12px 16px 12px 16px;
    position: relative;
    background: c.$white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: c.$dark-grey;
    transition: all 0.3s ease;

    span:last-child {
      width: 9px;
      height: 6px;
      display: inline-block;
      background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 0.75L4.28 4.27L7.81 0.75' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
      margin-top: 9px;
      transition: all 0.3s ease;
    }

    &:hover {
      background: c.$green;
      color: c.$white;

      span:last-child {
        filter: brightness(0) invert(1);
      }
    }

    &.active {
      background: c.$green;
      color: c.$white;

      span:last-child {
        filter: brightness(0) invert(1);
        transform: rotate(180deg);
      }
    }
  }

  &__sublist {
    background: c.$white;
  }

  &__sublink {
    display: flex;
    padding: 12px 16px 12px 16px;
    background: #EAEAEA;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: c.$dark-grey;
    border-left: 2px solid #EAEAEA;
    transition: all 0.3s ease;

    &:hover {
      border-left: 2px solid c.$green;
      color: c.$green;
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    &.dropdown {

      &.active {
        box-shadow: -2px 0 0 0 #000;
      }

      span:last-child:not(.side-menu__additional-link span) {
        width: 9px;
        height: 6px;
        display: inline-block;
        background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 0.75L4.28 4.27L7.81 0.75' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
        background-size: cover;
        margin-top: 9px;
        transition: all 0.3s ease;
      }

      a:not(.side-menu__additional-link) {
        justify-content: space-between;
        align-items: start;
        position: relative;

        &.active {
          span:last-child {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__additional-list {
    background: #EAEAEA;
  }

  &__additional-item {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__additional-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: c.$dark-grey;
    position: relative;
    transition: all 0.3s ease;
    background: c.$white;
    border-left: 2px solid c.$white;

    span {
      width: 2px;
      height: 2px;
      background: c.$dark-grey;
      border-radius: 50%;
      transition: all 0.3s ease;
    }

    &:hover {
      color: #7A9F67;
      border-left: 2px solid c.$green;

      span {
        background: #7A9F67;
      }
    }
  }
}

.leave-request-btn {
  max-width: 187px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  margin: 40px auto 0;
  
  @media (max-width: 1299px) {
    margin: 20px auto 0;
  }
}

.seo-text {
  padding-top: 60px;
  padding-bottom: 60px;
  
  @media (max-width: 1299px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @media (max-width: 1000px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    text-align: left;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: c.$black;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 550px) {
        margin-bottom: 20px;
      }
    }
  }
}

.catalog__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.catalog-slider {
  max-width: 860px;

  .catalog-slider__main {
    height: 444px;
    width: 100%;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .catalog-slider__thumbs {
    margin-right: -4px;

    .swiper-slide {
      width: 104px !important;
      height: 69px;
      cursor: pointer;
      margin-top: 4px;
      border: 2px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        border: 2px solid #586C5C;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.catalog-description__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(44, 44, 44, 0.6);
  margin-bottom: 10px;
}

.specification {
  padding-bottom: 20px;
  border-bottom: 1px solid #0000001A;

  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }
}

.characteristics {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0000001A;

  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin-top: 8px;
  }
}

.specs-table {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  .specs-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;
    gap: 5px;
  }

  .specs-label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 5px;
  }

  .specs-dots {
    border-bottom: 1px dashed #000000;
    flex: 1;
  }
}

.execution-options {
  padding-top: 20px;

  &__list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__item {
    cursor: pointer;
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.horizontal-menu {
  background: rgba(88, 108, 92, 0.1);
  padding: 12px;
  margin-bottom: 40px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__item {
    background: c.$white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0px 2px 27.9px 0px rgba(168, 168, 168, 0.7215686275);
    }
  }

  &__link {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 12px 38px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2C2C2C;
  }
}

.sub-catalog {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    row-gap: 40px;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding: 4px;
  }

  &__media {
     background: c.$white;
     width: 100%;
     height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 16px 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
  }
}