@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;


.catalog-section {
  &__block {
    display: grid;
    grid-template-columns: 283px 1fr;
    gap: 40px;
  }
}

.side-menu {

  &__item {
    &:not(:last-child) {
     > a {
        margin-bottom: 2px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 12px 16px 12px 16px;
    position: relative;
    background: c.$white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: c.$dark-grey;
    transition: all 0.3s ease;

    span:last-child {
      width: 9px;
      height: 6px;
      display: inline-block;
      background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 0.75L4.28 4.27L7.81 0.75' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
      margin-top: 9px;
      transition: all 0.3s ease;
    }

    &:hover {
      background: c.$green;
      color: c.$white;

      span:last-child {
        filter: brightness(0) invert(1);
      }
    }

    &.active {
      background: c.$green;
      color: c.$white;

      span:last-child {
        filter: brightness(0) invert(1);
        transform: rotate(180deg);
      }
    }
  }

  &__sublist {
    background: c.$white;
  }

  &__sublink {
    display: flex;
    padding: 12px 16px 12px 16px;
    background: #EAEAEA;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: c.$dark-grey;
    border-left: 2px solid #EAEAEA;
    transition: all 0.3s ease;

    &:hover {
      border-left: 2px solid c.$green;
      color: c.$green;
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    &.dropdown {

      &.active {
        box-shadow: -2px 0 0 0 #000;
      }

      span:last-child:not(.side-menu__additional-link span) {
        width: 9px;
        height: 6px;
        display: inline-block;
        background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 0.75L4.28 4.27L7.81 0.75' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
        background-size: cover;
        margin-top: 9px;
        transition: all 0.3s ease;
      }

      a:not(.side-menu__additional-link) {
        justify-content: space-between;
        align-items: start;
        position: relative;

        &.active {
          span:last-child {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__additional-list {
    background: #EAEAEA;
  }

  &__additional-item {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__additional-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: c.$dark-grey;
    position: relative;
    transition: all 0.3s ease;
    background: c.$white;
    border-left: 2px solid c.$white;

    span {
      width: 2px;
      height: 2px;
      background: c.$dark-grey;
      border-radius: 50%;
      transition: all 0.3s ease;
    }

    &:hover {
      color: #7A9F67;
      border-left: 2px solid c.$green;

      span {
        background: #7A9F67;
      }
    }
  }
}