@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.comparison {
  padding-top: 44px;
  padding-bottom: 44px;
  background: #F9F9F9;

  @media (max-width: 1299px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 1000px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
      margin-bottom: 0 !important;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 283px 1fr;
    gap: 40px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-right: -20px;
    }
  }

  &__right {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;

    @media (max-width: 450px) {
      margin-left: -20px;
    }
  }

  &__dimensions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 449px;

    @media (max-width: 1440px) {
      margin-top: 350px;
    }

    @media (max-width: 1299px) {
      margin-top: 331px;
    }

    @media (max-width: 900px) {
      display: none;
    }

    span {
      display: inline-block;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #2C2C2C;
      background: c.$white;
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;
    overflow: visible;

    .swiper-wrapper {
      display: flex;
      width: auto;
    }

    .swiper-slide {

      width: calc((100% - (12px * 0.2)) / 1.2) !important;
      flex-shrink: 0;
      margin-right: 12px;
      height: auto;
      padding: 4px;
      position: relative;


      @media (min-width: 430px) {
        width: calc((100% - (12px * 0.5)) / 1.5) !important; // 0.5 промежутка
        margin-right: 12px;
      }

      @media (min-width: 1050px) {
        width: calc((100% - (12px * 0.5)) / 1.5) !important; // 0.5 промежутка
        margin-right: 12px;
      }


      @media (min-width: 1299px) {
        width: calc((100% - (20px * 1.3)) / 2.3) !important; // 1.3 промежутка
        margin-right: 20px;
      }


      @media (min-width: 1400px) {
        width: calc((100% - (20px * 2)) / 3) !important; // 2 промежутка
        margin-right: 20px;
      }
    }
  }

  &__item {
    a {
      display: inline-block;
      border: 1px solid transparent;
      transition: all 0.5s ease;
      margin-bottom: 40px;
      box-shadow: 0 16px 16px 0 #00000008;

      @media (max-width: 1299px) {
        margin-bottom: 20px;
      }

      &:hover {
        border: 1px solid rgba(88, 108, 92, 0.4);
      }
    }
  }

  &__media {
    height: 300px;
    background: c.$white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 600px) {
      height: 200px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 28px 16px 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.07) 100%);



    .article-number {
      display: inline-block;
      margin-top: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(44, 44, 44, 0.6);
    }

    .size {
      display: inline-block;
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(44, 44, 44, 0.6);
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2C2C2C;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
  }

  &__prise {
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    color: #5B5B5B;
    margin-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      display: inline-block;
      background: #586C5C1A;
      padding: 12px 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #2C2C2C;
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

.clear-btn {
  width: 128px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #586C5C;
  background: transparent;
  border: 1px solid #586C5C;
  transition: all 0.3s ease;
  border-radius: 24px;
  cursor: pointer;

  @media (max-width: 450px) {
    padding: 0;
    border: none;
  }

  &:hover {
    background: #586C5C;
    color: c.$white;
    border: 1px solid #586C5C;

    @media (max-width: 450px) {
      text-decoration: underline;
      background: transparent;
      color: #586C5C;
      border: none;
    }
  }
}


.side-additional-list {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .side-additional-item {
    .side-additional-link {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      background: c.$white;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #2C2C2C;
      border-left: 2px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        border-left: 2px solid #586C5C;
      }

      &.active {
        border-left: 2px solid #586C5C;
      }
    }
  }
}