@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.footer {
  background: c.$green;
  padding-top: 60px;
  padding-bottom: 60px;

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    gap: 36px;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: c.$gold;
   text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      color: c.$gold;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      &:hover {
        text-decoration: underline;
      }
    }

    .phone-link {
      padding-right: 15px;
      border-right: 2px solid c.$gold;
    }

    .mail-link {
      padding-left: 15px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__info {
    color: c.$gold;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 4px;

    a {
      color: c.$gold;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    gap: 54px;

    .social-list {
      display: flex;
      gap: 16px;
    }

    .social-item {
      width: 30px;
      height: 30px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: c.$gold;
    color: #586C5C;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 24px;
    transition: all 0.3s ease;
    padding: 3px 12px;
    max-width: 145px;
    height: 30px;

    &:hover {
     background: #F4E8DF;
    }
  }
}