@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 40px;

  @media (max-width: 1299px) {
    padding-top: 0;
  }

  .header__inner {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;

    @media (max-width: 1299px) {
      padding: 0;
      background: none;
      backdrop-filter: none;
      border: none;
      margin: 0;
    }

    .header__top {
      display: flex;
      margin-bottom: 20px;

      @media (max-width: 1299px) {
        padding: 24px 20px;
        background: rgba(255, 255, 255, 0.14);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 36px;
      }

      .header__logo {
        margin-right: 60px;
        display: flex;
        align-items: center;

        @media (max-width: 1299px) {
          max-width: 181px;
        }
      }

      .header__nav {
        .header__list {
          display: flex;
          align-items: center;
          gap: 30px;
          height: 100%;

          @media (max-width: 1299px) {
            display: none;
          }

          .header__item {
            .header__link {
              color: c.$white;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .header__contacts {
        margin-left: auto;
        margin-right: 60px;
        display: flex;
        align-items: center;

        @media (max-width: 1299px) {
          display: none;
        }

        a {
          color: c.$white;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;

          &:hover {
            text-decoration: underline;
          }
        }

        .phone-link {
          padding-right: 15px;
          border-right: 2px solid c.$white;
        }

        .mail-link {
          padding-left: 15px;
        }
      }

      .header__btn {
         padding: 12px 24px;

        @media (max-width: 1299px) {
          display: none;
        }
      }

      .header__burger {
        display: none;

        @media (max-width: 1299px) {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
        }
      }
    }

    .header__bottom {
      display: flex;

      .catalog-btn {
        display: flex;
        padding: 12px 30px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @media (max-width: 1299px) {
          display: none;
        }
      }

      .header__wrapper {
        margin-left: auto;
        display: flex;
        gap: 30px;

        @media (max-width: 1299px) {
          display: none;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 100%;
          gap: 3px;
          position: relative;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          color: c.$white;
          transition: all 0.3s ease;


          &:hover {
            transform: translateY(-3px);
          }

          .counter {
            position: absolute;
            width: 18px;
            height: 18px;
            background: c.$light-green;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.search {
  margin-right: 60px;
  flex: 1;
  
  @media (max-width: 1299px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .search__inner {
    height: 100%;

    .search__form {
      height: 100%;
      position: relative;

      .search__input {
        width: 100%;
        height: 100%;
        background: c.$white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 12px 16px;
        appearance: none;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
          -webkit-appearance: none;
          appearance: none;
        }

        @media (max-width: 1299px) {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
        }
      }

      .search-img {
        position: absolute;
        z-index: 5;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
