@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

@property --angle-1 {
  syntax: "<angle>";
  inherits: false;
  initial-value: -75deg;
}

@property --angle-2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: -45deg;
}

:root {
  --global--size: clamp(2rem, 4vw, 5rem);
  --anim--hover-time: 400ms;
  --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 40px;
  overflow: hidden;

  @media (max-width: 1299px) {
    padding-top: 0;
  }

  .header__wrap {
    position: relative;
    z-index: 2;
    background: transparent;
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
    max-width: 1760px;
    margin: 0 auto;
  }

  .header__shadow {
    --shadow-cuttoff-fix: 2em;
    position: absolute;
    width: calc(100% + var(--shadow-cuttoff-fix));
    height: calc(100% + var(--shadow-cuttoff-fix));
    top: calc(0% - var(--shadow-cuttoff-fix) / 2);
    left: calc(0% - var(--shadow-cuttoff-fix) / 2);
    filter: blur(clamp(2px, 0.125em, 12px));
    -webkit-filter: blur(clamp(2px, 0.125em, 12px));
    -moz-filter: blur(clamp(2px, 0.125em, 12px));
    -ms-filter: blur(clamp(2px, 0.125em, 12px));
    overflow: visible;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
      width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
      height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
      top: calc(var(--shadow-cuttoff-fix) - 0.5em);
      left: calc(var(--shadow-cuttoff-fix) - 0.875em);
      padding: 0.125em;
      box-sizing: border-box;
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
      transition: all var(--anim--hover-time) var(--anim--hover-ease);
      overflow: visible;
      opacity: 1;
    }
  }

  .header__inner {
    --border-width: clamp(1px, 0.0625em, 4px);
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(
                    -75deg,
                    rgba(255, 255, 255, 0.05),
                    rgba(255, 255, 255, 0.2),
                    rgba(255, 255, 255, 0.05)
    );
    box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
    backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
    padding: 30px;


    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      inset: 0;
      border-radius: inherit;
      overflow: clip;
      background: linear-gradient(
                      var(--angle-2),
                      rgba(255, 255, 255, 0) 0%,
                      rgba(255, 255, 255, 0.5) 40% 50%,
                      rgba(255, 255, 255, 0) 55%
      );
      mix-blend-mode: screen;
      pointer-events: none;
      background-size: 300% 200%;
      background-position: -200% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease;

      @media (max-width: 1299px) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      pointer-events: none;
      width: calc(100% + var(--border-width));
      height: calc(100% + var(--border-width));
      top: calc(0% - var(--border-width) / 2);
      left: calc(0% - var(--border-width) / 2);
      padding: var(--border-width);
      box-sizing: border-box;
      background: conic-gradient(
                      from var(--angle-1) at 50% 50%,
                      rgba(0, 0, 0, 0.5),           /* ← ТЕМНЫЙ */
                      rgba(0, 0, 0, 0) 5% 40%,      /* ← ТЕМНЫЙ прозрачный */
                      rgba(0, 0, 0, 0.5) 50%,       /* ← ТЕМНЫЙ */
                      rgba(0, 0, 0, 0) 60% 95%,     /* ← ТЕМНЫЙ прозрачный */
                      rgba(0, 0, 0, 0.5)            /* ← ТЕМНЫЙ */
      ),
      linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
      transition: all var(--anim--hover-time) var(--anim--hover-ease),
      --angle-1 500ms ease;
      box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255, 255, 255, 0.5);

      @media (max-width: 1299px) {
        display: none;
      }
    }

    &:hover {
      transform: scale(1.015);
      backdrop-filter: blur(clamp(0.25px, 0.03125em, 1px));
      -webkit-backdrop-filter: blur(clamp(0.25px, 0.03125em, 1px));
      -moz-backdrop-filter: blur(clamp(0.25px, 0.03125em, 1px));
      -ms-backdrop-filter: blur(clamp(0.25px, 0.03125em, 1px));
      box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
      inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
      0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
      0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
      0 0 0 0 rgba(255, 255, 255, 1);

      @media (max-width: 1299px) {
       transform: scale(1);
        box-shadow: none;
      }

      &::before {
        opacity: 1;
        animation: shine 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }

      &::after {
        --angle-1: -125deg;
      }
    }

    @keyframes shine {
      0% {
        background-position: -200% 50%;
        --angle-2: -60deg;
      }
      50% {
        background-position: 100% 50%;
        --angle-2: -30deg;
      }
      100% {
        background-position: 200% 50%;
        opacity: 0;
      }
    }

    @media (max-width: 1299px) {
      padding: 0;
      background: none;
      backdrop-filter: none;
      border: none;
      margin: 0;
      box-shadow: none;
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .header__inner::after,
    .header__inner:hover::after {
      --angle-1: -75deg;
    }
    .header__inner::before,
    .header__inner:hover::before {
      --angle-2: -45deg;
    }
  }

  .header__wrap:has(.header__inner:hover) .header__shadow {
    filter: blur(clamp(2px, 0.0625em, 6px));
    -webkit-filter: blur(clamp(2px, 0.0625em, 6px));
    -moz-filter: blur(clamp(2px, 0.0625em, 6px));
    -ms-filter: blur(clamp(2px, 0.0625em, 6px));
    transition: filter var(--anim--hover-time) var(--anim--hover-ease);
  }

  .header__wrap:has(.header__inner:hover) .header__shadow::after {
    top: calc(var(--shadow-cuttoff-fix) - 0.15em);
    opacity: 1;
  }

  .header__top {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 1299px) {
      padding: 24px 20px;
      margin-bottom: 36px;
      --border-width: clamp(1px, 0.0625em, 4px);
      position: relative;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      pointer-events: auto;
      z-index: 3;
      background: linear-gradient(
                      -75deg,
                      rgba(255, 255, 255, 0.05),
                      rgba(255, 255, 255, 0.2),
                      rgba(255, 255, 255, 0.05)
      );
      box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
      inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
      0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
      0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
      0 0 0 0 rgba(255, 255, 255, 1);
      backdrop-filter: blur(clamp(1px, 0.125em, 4px));
      -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
      -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
      -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
      transition: all var(--anim--hover-time) var(--anim--hover-ease);

      /* Блик как у header__inner - НО БЕЗ ХОВЕРА */
      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        inset: 0;
        border-radius: inherit;
        overflow: clip;
        background: linear-gradient(
                        var(--angle-2),
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.5) 40% 50%,
                        rgba(255, 255, 255, 0) 55%
        );
        mix-blend-mode: screen;
        pointer-events: none;
        background-size: 300% 200%;
        background-position: -200% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease;
      }


      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0;
        pointer-events: none;
        width: calc(100% + var(--border-width));
        height: calc(100% + var(--border-width));
        top: calc(0% - var(--border-width) / 2);
        left: calc(0% - var(--border-width) / 2);
        padding: var(--border-width);
        box-sizing: border-box;
        background: conic-gradient(
                        from var(--angle-1) at 50% 50%,
                        rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 0.2) 5% 40%,
                        rgba(255, 255, 255, 0.8) 50%,
                        rgba(255, 255, 255, 0.2) 60% 95%,
                        rgba(255, 255, 255, 0.8)
        );
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        transition: all var(--anim--hover-time) var(--anim--hover-ease),
        --angle-1 500ms ease;
        box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255, 255, 255, 0.5);
      }


      /* &:hover {
        backdrop-filter: blur(0.01em);
        -webkit-backdrop-filter: blur(0.01em);
        -moz-backdrop-filter: blur(0.01em);
        -ms-backdrop-filter: blur(0.01em);
        box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
        0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
        0 0 0 0 rgba(255, 255, 255, 1);

        &::before {
          opacity: 1;
          animation: shine 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        }

        &::after {
          --angle-1: -125deg;
        }
      } */
    }


    .header__logo {
      margin-right: 60px;
      display: flex;
      align-items: center;

      @media (max-width: 1299px) {
        max-width: 181px;
      }
    }

    .header__nav {
      .header__list {
        display: flex;
        align-items: center;
        gap: 30px;
        height: 100%;

        @media (max-width: 1299px) {
          display: none;
        }

        .header__item {
          .header__link {
            color: c.$white;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .header__contacts {
      margin-left: auto;
      margin-right: 60px;
      display: flex;
      align-items: center;

      @media (max-width: 1299px) {
        display: none;
      }

      a {
        color: c.$white;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;

        &:hover {
          text-decoration: underline;
        }
      }

      .phone-link {
        padding-right: 15px;
        border-right: 2px solid c.$white;
      }

      .mail-link {
        padding-left: 15px;
      }
    }

    .header__btn {
      padding: 12px 24px;

      @media (max-width: 1299px) {
        display: none;
      }
    }

    .header__burger {
      display: none;

      @media (max-width: 1299px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
      }
    }
  }

  .header__bottom {
    display: flex;

    .catalog-btn {
      display: flex;
      padding: 12px 30px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      @media (max-width: 1299px) {
        display: none;
      }
    }

    .header__wrapper {
      margin-left: auto;
      display: flex;
      gap: 30px;

      @media (max-width: 1299px) {
        display: none;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 100%;
        gap: 3px;
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: c.$white;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-3px);
        }

        .counter {
          position: absolute;
          width: 18px;
          height: 18px;
          background: c.$light-green;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          right: 0;
          font-size: 12px;
        }
      }
    }
  }
}

.search {
  margin-right: 60px;
  flex: 1;

  @media (max-width: 1299px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  .search__inner {
    height: 100%;

    .search__form {
      height: 100%;
      position: relative;

      .search__input {
        width: 100%;
        height: 100%;
        background: c.$white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        padding: 12px 16px;
        appearance: none;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
          -webkit-appearance: none;
          appearance: none;
        }

        @media (max-width: 1299px) {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
        }
      }

      .search-img {
        position: absolute;
        z-index: 5;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.inside-page-header {
  width: 100%;
  height: 256px;
  position: relative;
  background: url("../images/inside-page-header.jpg") no-repeat center;
  background-size: cover;
}