@use "../styles/colors.scss" as c;

@mixin slider-pagination {
  &__pagination {
    position: absolute;
    bottom: 30px !important;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    gap: 10px;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: rgba(255, 255, 255, 0.4);
      opacity: 1;
      transition: all 0.3s ease;

      &:hover {
        background: rgba(255, 255, 255, 1);
      }

      &.swiper-pagination-bullet-active {
        width: 24px;
        height: 8px;
        background: rgba(255, 255, 255, 1);
        border-radius: 8px;
      }
    }
  }
}

@mixin transparent-input {
  width: 100%;
  height: 48px;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: c.$grey;
  border: 1px solid #586C5C;
  transition: all 0.5s ease;

  &:focus {
    transform: translateX(8px);
  }
}