@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.mobile-menu {
  width: 100%;
  max-width: 450px;
  background: c.$green;
  position: fixed;
  top: 0;
  right: -100%;
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  
  @media (max-width: 500px) {
    height: 100vh;
  }

  &.active {
    right: 0;
  }

  &__top {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    margin-bottom: 36px;
  }

  &__logo {
    max-width: 181px;
  }
  
  &__close {
    cursor: pointer;
  }

  &__middle {
    .search {

      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 36px;


      .search__inner {


        .search__form {

          .search__input {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            background: rgba(255, 255, 255, 0.14);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            &::placeholder {
              color: c.$white;
            }
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding-bottom: 36px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 36px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.4);
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: c.$gold;
    text-transform: uppercase;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 36px;
    padding-bottom: 36px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.4);

    a:not(.call-btn) {
      color: c.$gold;
    }
  }

  &__btn {
    width: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    margin: 0 auto;
    background: c.$gold;
    color: c.$green;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 24px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 56px;

    .social-link {
      display: inline-block;
      width: 48px;
      height: 48px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  &__bottom {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px 20px;
    margin-top: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: center;
      color: c.$white;
      position: relative;

      .counter {
        position: absolute;
        width: 18px;
        height: 18px;
        background: #9CB78E;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -9px;
        right: 0;
        font-size: 12px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1001;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.call-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 480px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.active {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    width: 414px;
    padding: 20px 40px;
    background: c.$white;
    position: relative;

    @media (max-width: 480px) {
      width: 100%;
      padding: 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 13px;
    color: #2C2C2C;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 13px;


  fieldset {
    display: flex;
    flex-direction: column;
    gap: 13px;

    input[type="text"],
    input[type="tel"] {
      @include transparent-input;
    }
  }

  .submit-btn {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}

.design-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 480px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.active {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    width: 840px;
    padding: 20px 40px;
    background: c.$white;
    position: relative;

    @media (max-width: 900px) {
      width: 414px;
    }

    @media (max-width: 480px) {
      width: 100%;
      padding: 40px 15px 15px 15px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 13px;
    color: #2C2C2C;
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: stretch;
    justify-items: stretch;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column-reverse;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

.authorization-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 480px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.active {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    width: 414px;
    padding: 20px 40px;
    background: c.$white;
    position: relative;

    @media (max-width: 480px) {
      width: 100%;
      padding: 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 13px;
    color: #2C2C2C;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transform: rotate(180deg);
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: c.$black;
    margin-bottom: 13px;
  }

  &__form {
    fieldset {
      label {
        position: relative;

        input[type="email"],
        input[type="password"] {
          @include transparent-input;
          padding-left: 46px;
        }

        svg {
          position: absolute;
          left: 12px;
          top: 12px;
        }
      }
    }
    .submit-btn {
      margin-bottom: 13px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;

    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: c.$green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}