@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.personal-account {
  padding-top: 44px;
  padding-bottom: 44px;
  background: #F9F9F9;

  @media (max-width: 1299px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 1000px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 283px 1fr;
    gap: 40px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-right: -20px;
      margin-left: -20px;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(44, 44, 44, 0.6);

    @media (max-width: 900px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
  }

  &__item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.07) 100%);
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.03);
    padding: 16px;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0px 2px 27.9px 0px rgba(168, 168, 168, 0.7215686275);
      background: #FFFFFF;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #2C2C2C;
    }

    &:last-child {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(44, 44, 44, 0.6);

      @media (max-width: 450px) {
         font-size: 12px;
      }
    }
  }
}