@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.personal-account {
  padding-top: 44px;
  padding-bottom: 44px;
  background: #F9F9F9;

  @media (max-width: 1299px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 1000px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 283px 1fr;
    gap: 40px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-right: -20px;
      margin-left: -20px;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(44, 44, 44, 0.6);

    @media (max-width: 900px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
  }

  &__item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.07) 100%);
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.03);
    padding: 16px;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0px 2px 27.9px 0px rgba(168, 168, 168, 0.7215686275);
      background: #FFFFFF;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #2C2C2C;
    }

    &:last-child {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(44, 44, 44, 0.6);

      @media (max-width: 450px) {
         font-size: 12px;
      }
    }
  }

  &__form {
    background: c.$white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(44, 44, 44, 0.6);
    }

    fieldset {
      &:first-child,
      &:nth-child(3) {
        display: flex;
        gap: 20px;

        @media (max-width: 800px) {
          flex-direction: column;
        }
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 0;

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="password"]{
        width: 100%;
        height: 48px;
        padding: 12px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #5B5B5B;
        border: 1px solid #586c5c;
        transition: all 0.5s ease;
        background: #FFFFFF;
      }

      input[type="text"]::placeholder,
      input[type="email"]::placeholder,
      input[type="tel"]::placeholder,
      input[type="password"]::placeholder {
        color: #5B5B5B;
        opacity: 1;
      }
    }
  }
}

.account-detail {
  padding-top: 44px;
  padding-bottom: 44px;
  background: #F9F9F9;

  @media (max-width: 1299px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 1000px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 1299px) {
      margin-bottom: 20px;
      flex-direction: column;
      align-items: start;
    }
  }

  &__name {
    display: flex;
    align-items: center;

    h1 {
      margin-bottom: 0 !important;
    }

    svg {
      @media (max-width: 1299px) {
        width: 36px;
        height: 36px;
      }
    }
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2C2C2C;

    @media (max-width: 1299px) {
      padding-left: 36px;
    }

    span {
      color: rgba(44, 44, 44, 0.6);
    }
  }

  .products-table {
    .not-available {
      opacity: 0.4;

      &:hover {
        box-shadow: none;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.07) 100%);
      }

     .table-text a {
        text-decoration: line-through;
      }
    }
    .card-row .table-remove a {

      &.product-no {
        color: #2C2C2C;
        text-decoration: none;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 10px;

    @media (max-width: 550px) {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}

.snooze-btn {
  padding: 12px 24px;
  cursor: pointer;
}

.recent-history {
  margin-top: 40px;

  h2 {
    text-align: left;
  }

  .sub-catalog {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 12px;
      row-gap: 40px;
      margin: 0;
      
      @media (max-width: 1299px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
      }
      
      @media (max-width: 850px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 550px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
    }

    &__item {
      &:nth-child(n+4) {
        @media (max-width: 550px) {
          display: none;
        }
      }
    }
  }
}