@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

html,
body {
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  position: relative;
  z-index: 1;

  &.inside-page {
    h1 {
      font-size: 36px;
      font-weight: 800;
      line-height: 48px;
      color: c.$grey;
      margin-bottom: 40px;
      text-align: left;

      @media (max-width: 1299px) {
        font-size: 30px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      @media (max-width: 1000px) {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.color-btn {
  background: rgba(88, 108, 92, 1);
  color: c.$white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 24px;
  transition: all 0.3s ease;

  &:hover {
    background: c.$light-green;
  }
}

h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  color: c.$grey;
  margin-bottom: 40px;
  text-align: center;
  
  @media (max-width: 1299px) {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    font-size: 24px;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  color: c.$green;
  margin-bottom: 16px;

  @media (max-width: 1299px) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.pseudo-placeholder {
  .red-star {
    color: red !important;
  }
}

.breadcrumb {
  background: #F9F9F9;

  &__inner {
    padding-top: 44px;
    margin-bottom: -4px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    padding-bottom: 3px;

    &::-webkit-scrollbar {
      height: 2px;
      margin-top: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      margin-top: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(88, 108, 92, 0.2);
      margin-top: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(88, 108, 92, 0.3);
      margin-top: 3px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: min-content;
    padding-bottom: 3px;
  }

  &__item {
    flex-shrink: 0;

    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: c.$grey;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      padding-right: 15px;
      padding-left: 9px;
      position: relative;

      &::after {
        content: "/";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        color: c.$grey;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &.active {
      padding-left: 9px;

      a {
        color: rgba(91, 91, 91, 0.6);
      }
    }
  }
}
