@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

html,
body {
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.color-btn {
  background: rgba(88, 108, 92, 1);
  color: c.$white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 24px;
  transition: all 0.3s ease;

  &:hover {
    background: c.$light-green;
  }
}

h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  color: c.$grey;
  margin-bottom: 40px;
  text-align: center;
  
  @media (max-width: 1299px) {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    font-size: 24px;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  color: c.$green;
  margin-bottom: 16px;

  @media (max-width: 1299px) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.pseudo-placeholder {
  .red-star {
    color: red !important;
  }
}