<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <div class="mobile-menu__top">
            <div class="mobile-menu__logo">
                <a href="#"><img class="lazy" data-src="assets/images/header-logo.svg" alt=""></a>
            </div>
            <div class="mobile-menu__close">
                <img class="lazy" data-src="assets/images/close.svg" alt="">
            </div>
        </div>
        <div class="mobile-menu__middle">
            <div class="search">
                <div class="search__inner">
                    <form class="search__form">
                        <input type="search" placeholder="Поиск" name="q" class="search__input">
                        <img class="lazy search-img" data-src="assets/images/search-white.svg" alt="">
                    </form>
                </div>
            </div>
            <nav class="mobile-menu__nav">
                <ul class="mobile-menu__list">
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">Каталог</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a href="#" class="mobile-menu__link">О компании</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="mobile-menu__link">Портфолио</a>
                    </li>
                </ul>
            </nav>
            <div class="mobile-menu__contacts">
                <a class="phone-link" href="tel:+78125665050">+7 (812) 566-50-50</a>
                <a class="mail-link" href="mailto:zakaz@arteya.pro">zakaz@arteya.pro</a>
                <a href="#" class="mobile-menu__btn call-btn">
                    Заказать звонок
                </a>
            </div>
            <div class="mobile-menu__social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <img class="lazy" data-src="assets/images/vk.svg" alt="">
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <img class="lazy" data-src="assets/images/tg.svg" alt="">
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social-link">
                            <img class="lazy" data-src="assets/images/whatsapp.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__bottom">
            <div class="mobile-menu__wrapper">
                <a href="#" class="mobile-menu__user">
                    <include src="assets/svg/user-icon.html"></include>
                    <span>Войти</span>
                </a>
                <a href="#" class="mobile-menu__comparison">
                    <include src="assets/svg/comparison-icon.html"></include>
                    <span>Сравнение</span>
                    <span class="counter">2</span>
                </a>
                <a href="#" class="mobile-menu__basket">
                    <include src="assets/svg/basket-icon.html"></include>
                    <span>Корзина</span>
                    <span class="counter">2</span>
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="call-modal">
        <div class="call-modal__inner">
            <div class="call-modal__title">Заказ звонка</div>
            <div class="call-modal__form">
                <form class="call-form modal-form">
                    <fieldset>
                        <label>
                            <input type="text" name="name" placeholder="Ваше имя">
                        </label>
                        <label>
                            <input type="tel" name="tel" placeholder="Телефон" data-phone-input required>
                        </label>
                    </fieldset>
                    <fieldset>
                        <label class="checkbox-label">
                            <input type="checkbox" name="checkbox" required="">
                            <span class="checkbox-text">
                            <span>Я подтверждаю своё согласие на <a href="#">обработку персональных данных</a> в соответствии с <a href="#">политикой конфиденциальности</a></span>
                        </span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <button class="submit-btn color-btn">
                            Отправить
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="call-modal__close">
                <include src="assets/svg/modal_close.html"></include>
            </div>
        </div>
    </div>
<div class="design-modal">
    <div class="design-modal__inner">
        <div class="design-modal__title">Заказ дизайн-проекта</div>

        <div class="design-modal__wrapper">
            <div class="design-modal__form">
                <form class="design-form modal-form">
                    <fieldset>
                        <label>
                            <input type="text" name="name" placeholder="Организация">
                        </label>
                        <label>
                            <input type="text" name="name" placeholder="Ваше имя">
                        </label>
                        <label>
                            <input type="tel" name="tel" placeholder="Телефон" data-phone-input required>
                        </label>
                    </fieldset>
                    <fieldset>
                        <label class="checkbox-label">
                            <input type="checkbox" name="checkbox" required="">
                            <span class="checkbox-text">
                                <span>Я подтверждаю своё согласие на <a href="#">обработку персональных данных</a> в соответствии с <a href="#">политикой конфиденциальности</a></span>
                            </span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <button class="submit-btn color-btn">
                            Отправить
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="design-modal__media">
                <img class="lazy" data-src="assets/images/design-modal.jpg" alt="">
            </div>
        </div>
        <div class="design-modal__close">
            <include src="assets/svg/modal_close.html"></include>
        </div>
    </div>
</div>
<div class="overlay"></div>